# Archivos de Maven
target/
!target/iCafe-0.0.1-SNAPSHOT.jar

# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentación
README.md
*.md